ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 180px;
    height: 40px;
    overflow: hidden;
    line-height: 20px;
}
nav{
    background-color:#fff8e1 !important;
}

li a {
    margin: 0;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

#teste{
    float: right;
    position: absolute;
    right: 0;
}


